<div class="window container d-flex justify-content-center align-items-center bg-dark flex-column">
  <h1 class="text-default">Bitcoin Tracker</h1>
  <%= image_tag("btc_tracker.png", class: "img-fluid", size: "100x50") %>
  <br>
  <h4 class="text-default">Preço atual: <%= @price %></h4>
</div>